.list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
.shop {
        border: dashed 1px;
        padding: 5px;
        margin: 0;
        flex-basis: 30%;
}
header {
        text-align: center;
        padding: 10px;
}